.white-overlay {
	&:after {
		content: '';
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    transition: all .45s ease;
	    pointer-events: none;
	}

	&:hover:after {
		background-color: rgba(255, 255, 255, 0.4);
	}
}