body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
ul{
    margin: 0;
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Common Classes */
.item-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item-header-title{
    font-size: 2.2em;
    font-weight: 600;
    font-family: 'Shippori Mincho', serif;
}
.item-header-content{
    font-size: 6em;
    color: #add50f;
    font-family: 'Lobster Two', cursive;
}
.cake-item-btn{
    text-align: center;
    margin-top: 30px;
}
.cake-item-btn button{
    font-size: 1.5em;
    opacity: .8;
    border: none;
    outline: none;
    background-color: #F9F9F9;
    border-radius: 30px;
    border: 2px solid #ffe450;
    padding: 15px 30px;
    cursor: pointer;
    transition:.5s;
}
.cake-item-btn button:hover{
    background-color: #ff599a;
    border-color: #ff599a;
    color: #fff;
}

.btn{ 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-1{
    left: 0;
}

.btn-2{
    right: 0;
}
.btn button{
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 8px 10px;
    border: 1px solid #ffe450;
    color: #000;
    transition: .5s;
    cursor: pointer;
}
.btn button:hover{
    color: #fff;
    background-color: #ff599a;
    border-color: #ff599a;
}

/* Header Section Start */
.header-container{
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* Header Info Start */
#header-info{
    background-color:#F7F7F7 ;
    padding: 10px 15px;
}
#header-info .header-info-contact ul{
    display: flex;
}
#header-info  li{
    font-size:1.3em ;
    margin-right: 1em;
    opacity: .8;
}
#header-info  li a{
    color: black;
    transition: .5s;
}
#header-info  li a:hover{
    color: #ff599a;
}
#header-info  li i{
    margin-right: .5em;
    font-size: 1em;
}
#header-info .header-info-address ul{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
#header-info .header-info-address ul li{
    text-align: center;
    margin: 0 10px;
}

#header-info .header-info-address ul li:last-child{
    opacity: 1;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 20px;
}
#header-info .header-info-address ul li:last-child:hover a{
    color: #FBD60B;
}
#header-logo{
    cursor: pointer;
}

/* Header Info End */

/* Header Menu Bar Start */
#header-menubar{
    padding: 60px 15px;
    border-bottom: 1px solid #E4E4E4;
    position: relative;
}
#header-menubar .header-menubar-account ul{
    display: flex;
}
#header-menubar li{
    font-size:2.6em;
    margin-right: 1em;
    color: black;
}
#header-menubar li a{
    color: black;
    transition: .5s;
}
#header-menubar li a:hover{
    color: #ff599a;
}

#header-menubar .header-menubar-wishlist ul{
    display: flex;
}
#header-menubar .header-menubar-wishlist ul li:last-child{
    position: relative;
}
#header-menubar .header-menubar-wishlist ul li:last-child .shopping-value{
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: .5em;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 20px;
    cursor: pointer;
}
#header-menubar .header-menubar-wishlist ul li:last-child:hover .shopping-value{
    background-color: #ff599a;
}

#header-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%,0);
    
}
#header-logo img{
    width: 150px;
}
/* Header Menu Bar End */

/* Header Navbar Start */
#header-navbar{
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
#header-navbar ul{
    width: 100%;
    display: flex;
}
#header-navbar ul li{
    padding: 0 15px;
    font-size: 1.5em;
}
#header-navbar ul li a{
    color: black;
    transition: .5s;
}
#header-navbar ul li{
    display: flex;
    align-items: center;
}
#header-navbar ul li a i{
    font-size: .6em;
}
#header-navbar ul li:first-child a{
    color: #ff599a;
}
#header-navbar ul li:hover a{
    color: #ff599a;
}
/* Header Navbar End */


    /* Header Section End */


/* Home Slider Section Start */
#home-slider{
    /* height: 720px; */
    position: relative;
    z-index: 0;
}
#home-slider .home-slider-item{
    padding: 200px 0;
    background-image: url("../img/cake-3_2000x.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    align-items: center;
}
#home-slider .home-slider-item .home-slider-content{
    position: relative;
    width: 75%;
    margin: 0 auto;
}
#home-slider .home-slider-item .home-slider-content h2{
    color: #fff;
    font-size: 4em;
    margin: 0 0 10px 0;
    font-family: 'Shippori Mincho', serif;
    font-weight: 500;
}
#home-slider .home-slider-item .home-slider-content h3{
    text-transform: uppercase;
    color: #ff9662;
    font-size: 3.8em;
    margin: 0;
    font-weight: 600;
    letter-spacing: 3px;
}
#home-slider .home-slider-item .home-slider-content p{
    color: #e0d300;
    font-weight: 300;
    font-size: 4.5em;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 5px;
}
#home-slider .home-slider-item .home-slider-content p span{
    font-size: 2em;
}
#home-slider .home-slider-item .home-slider-content-position button{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px 40px;
    font-size: 1.6em;
    font-weight: 700;
    color: #E76524;
    transition: .5s;
    cursor: pointer;
}
#home-slider .home-slider-item .home-slider-content-position button:hover{
    color: #fff;
    background-color: #E76524;
}
#home-slider .home-slider-content-position{
    width:50%;
    text-align: center;
    position: relative;
    opacity: 1;
}
#home-slider .home-slider-content .overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    
}
#home-slider .home-slider-buttons{
    width: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translate(0px, -50%);
}
#home-slider .home-slider-buttons button{
   border: none;
   outline: none;
   font-size: 4em;
   margin: 0 5%;
   background-color: transparent;
   color: #fff;
   cursor: pointer;
}
/* Home Slider Section End */

/* Feel The Taste Section Start */
#feelTheTaste{
    padding: 100px 0;
    /* border: 1px solid red; */
    background-image: url("../img/feelthetaste-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
/* .feelTheTaste-container{
    width: 1450px;
    margin: 0 auto;
} */
 
#feelTheTaste .cake-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
#feelTheTaste .cake-item{
    box-sizing: border-box;
    flex: calc(100%/3);
    padding: 0 30px;
    /* border: 1px solid yellow; */

}
#feelTheTaste .cake-item img{
    width: 100%;
}
#feelTheTaste .cake-item h3{
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}
#feelTheTaste .cake-item p{
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    opacity: .8;
}
 
    /* Feel The Taste Section End */


/* Best Products Section Start */
#bestProducts{
    margin-bottom: 70px;
}
#bestProducts .item-header-content{
    color:#36ded8 ;
}
#bestProducts .cake-items{
    /* border: 1px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 40px;
     
}
#bestProducts .cake-item.cake-item-res-1,#bestProducts .cake-item.cake-item-res-2,#bestProducts .cake-item.cake-item-res-3{
    display: block;
}

#bestProducts .cake-item{
    display: flex;
    box-sizing: border-box;
    flex: calc(100%/4);
    padding: 0 15px;
    /* border: 1px solid yellow; */
     
}
#bestProducts .cake-items .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 20px;
}
#bestProducts .cake-item img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#bestProducts .cake-item a{
    font-size: 1.4em;
    color: #000; 
    transition: .5s; 
}
#bestProducts .cake-item a:hover{
    color: #ff599a;
}
#bestProducts .cake-item p{
    font-size: 2em;
    margin: 5px 0;
}
#bestProducts .cake-item p span{
    opacity: .3;
    font-size: .7em;
    text-decoration-line: line-through;
}
#bestProducts .cake-item .icons i{
    font-size: 1.2em;
    opacity: .8;
}
#bestProducts .cake-item .cake-item-btn{
    margin: 0;
    margin: 20px 0;
}
#bestProducts .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}
#bestProducts .buttons span{
    background-color: #ff599a;
    display: inline-block;
    width: 2px;
    padding: 14px 0;
}
#bestProducts .buttons i{
    color: #ff599a;
    margin: 0 20px;
    font-size: 3.5em;
    cursor: pointer;
}
    /* Best Products Section End */

/* Nature Taste Section Start */
#natureTaste{
    padding: 30px 0;
    background-image: url("../img/natureTaste-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#natureTaste .item-header-content{
    color: #000;
}
.natureTaste-body{
    padding: 50px 0;
    position: relative;    
}
.natureTaste-body .slider{
    position: relative;
}

.natureTaste-body .container-full{
    position: relative;
}

 

.natureTaste-body .cake-img{
    padding: 0px 20px 0 70px;
}
.natureTaste-body .cake-img img{
    width: 100%;
    border-radius: 20px;
}
.natureTaste-body .cake-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.natureTaste-body .cake-content h1{
    font-size: 1.8em;
    transition: .5s;
    cursor: pointer;
    color: #000;
    margin: 10px 0;
}
.natureTaste-body .cake-content:hover h1{
    color: #ff599a;
}
.natureTaste-body .cake-content p{
    margin: 0;
    font-size: 2em;
}

.natureTaste-body .cake-content .icons i{
    margin: 10px 0;
    font-size: 1.2em;
    opacity: .8;
}

    /* Nature Taste Section End */

/* Latest Collection Styles */
#latestCollection{
    padding: 100px 0;
}
#latestCollection .item-header-content{
    color: #f3d600;
}
#latestCollection .cake-types{
    padding: 40px 0;
}
#latestCollection .cake-types ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#latestCollection .cake-type{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#latestCollection .cake-type-name{
    font-size: 1.5em;
    opacity: .9;
    letter-spacing: .5px;
    transition: .5s;
    margin: 5px 0;
}
#latestCollection .cake-type:hover .cake-type-name{
    color: #ff599a;
}
#latestCollection .cake-items{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    position: relative;
     
}
#latestCollection .cake-item{
    display: flex;
    box-sizing: border-box;
    flex: calc(100%/4);
    padding: 0 15px;
    /* border: 1px solid yellow; */
     
}
/* responsive'de bezi cake item divlerini legv etmek ucun */
#latestCollection  .cake-item-res-1,#latestCollection .cake-item-res-2{
    display: block;
}
#latestCollection .cake-item .container{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    border-radius: 20px;
}
#latestCollection .cake-item .row{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#latestCollection .cake-item img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#latestCollection .cake-item a{
    font-size: 1.4em;
    color: #000; 
    transition: .5s; 
}
#latestCollection .cake-item a:hover{
    color: #ff599a;
}
#latestCollection .cake-item p{
    font-size: 2em;
    margin: 5px 0;
}
#latestCollection .cake-item p span{
    opacity: .3;
    font-size: .7em;
    text-decoration-line: line-through;
}
#latestCollection .cake-item .icons i{
    font-size: 1.2em;
    opacity: .8;
}
#latestCollection .cake-item .cake-item-btn{
    margin: 0;
    margin: 20px 0;
}
#latestCollection .btn{ 
    position: absolute;
    top: 35%;
}



/* Welcome section styles */
#welcome{
    text-align: center;
    padding: 190px 0;
    background:url("../img/welcome-bg-img.jpg") center center no-repeat;
    background-size: cover;
}
.welcome-content{
    width: 50%;
    margin: 0 auto;
}
#welcome h3{
    font-family: Lobster Two;
    font-size: 2.5em;
    font-weight: 400;
    margin: 0;
}
#welcome h1{
    color: #ff599a;
    font-family: Lobster Two;
    font-size: 6em;
    font-weight: 400;
    margin: 10px 0;
}
#welcome p{
    font-size: 1.5em;
    padding: 0 100px;
}

/* Menu section styles */
#menu{
    padding: 100px 0;
    background: url("../img/menu-bg-img.webp") no-repeat;
    background-size: cover;

}
.menu-item{
    margin: 30px 20px 30px 20px;
}
#menu .menu-item .row img{
    width: 100%;
}
#menu .menu-item .row{
    
}
#menu .item-header-title,#menu .item-header-content{
    color: #fff;
}
#menu .menu-item-content{
    padding: 0 5%;
}
#menu .menu-item-content .row{
    align-items: center;
}
.menu-item-description h2{
    font-family: Lobster Two;
    margin: 0;
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}
.menu-item-description h2:hover{
    color: #ff599a;
}
.menu-item-description p{
    color: #fff;
    padding-right: 50px;
    font-size: 1.5em;
    font-weight: 300;
}
.menu-item-price{
    color: #fff;
    font-size: 2em;
    text-align: right;
}


/* Blog section styles */
#blog{
    padding: 100px 0;
}
#blog .item-header-content{
    color: #000;
}
.blog-items{
    position: relative;
}
.blog-items .btn{
    top: 30%;
}
.blog-item{
    padding: 30px 0;
    margin: 0 15px;
    /* border: 1px solid red; */
}
.blog-item-image{
    margin-bottom: -5px;
}
.blog-item-image img{
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-item-content{
    padding: 30px;
    cursor: context-menu;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.blog-item-content h3{
    margin: 0;
    margin-bottom: 10px;
}
.blog-item-content h3 a{
    color: #000;
    font-size: 2em;
    font-family: Lobster Two;
    font-weight: 400;
    transition: .5s;
}
.blog-item-content h3 a:hover{
    color: #ff599a;
}
.blog-item-content .calendar span{
    font-size: 1.4em;
    margin-right: 20px;
    color: #b8b8b8;
}
.blog-item-content .calendar span i{
    color: #ff599a;
    margin-right: 5px;
}
.blog-item-content p{
    font-size: 1.5em;
    opacity: .8;
}
.blog-item-content .footer{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    opacity: .8;
}
.blog-item-content .footer a{
    color: #000;
    transition: .5s;
}
.blog-item-content .footer a:hover{
    color: #ff599a;
}
/* blog item'larin bezilerini responsiv dizaynda gorunmemesi ucun */
#blog .blog-item-res-1,#blog .blog-item-res-2{
    display: block;
}

/* asked section styles */
#asked{
    padding: 100px 0;
    background-color: #cdea7e;
}
#asked .item-header-content{
    color: #000;
}
.asked-item{
    padding: 50px 0;
}
.asked-item-image{
    padding: 0px 50px;
}
.asked-item-image img{
    width: 100%;
    border-radius: 20px;
}
.asked-item-buttons{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.asked-item-buttons button{
    border: none;
    outline: none;
    margin: 0 7px;
    width: 7px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffe450;
    cursor: pointer;
}
.asked-item-buttons button:hover{
    background-color: #ff599a;
}
.asked-item-buttons button:focus{
    background-color: #ff599a;
}
.asked-question{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0 ;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.asked-question h5{
    margin: 0;
    font-family: Lobster Two;
    font-weight: 400;
}
.asked-question h5 a{
    font-size: 3em;
    color: #000;
    transition: .5s;
}
.asked-question .icon{
    display: flex;
    align-items: center;
}
.asked-question .icon i{
    font-size: 2em;
    transition: .5s;
}
.asked-question:hover h5 a, .asked-question:hover .icon i{
    color: #ff599a;
}
.question-answer{
    font-size: 1.5em;
    opacity: .8;
    margin: 30px 0;
}

/* features section styles */
#features{
    padding: 100px 0;
}
.features-item{
    /* border: 1px solid red; */
    margin: 0 15px;
    padding: 60px;
    text-align: center;
    border-radius: 20px;
    background-color: #f7f7f7;
}
.features-item-img{
    display: inline-block;
    cursor: pointer;
}
.features-item h5{
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0;
}
.features-item span{
    display: inline-block;
    font-size: 1.5em;
    opacity: .8;
    margin: 10px 0;
}
.logos{
    margin-top: 100px;
    position: relative;
}
.logo-items{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    
     
}
.logo-item{
    cursor: pointer;
    margin: 0 20px;
    /* width: 20%; */
}
.logo-item img{
    width: 100%;
}

/* footer styles */
footer{
    background: url("../img/footer-bg-img.webp") center center no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.footer-item{
    color: #fff;
}
.footer-item h5{
    font-size: 2em;
    font-family: Lobster Two;
    margin: 0;
    margin-bottom: 20px;
    color: #ff599a;
    font-weight: 400;
}
.footer-item li{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 8px;  
}
.footer-item li i{
    font-size: .8em;
    margin-right: 3px;
}
.footer-item li a{
    display: inline-block;
    width: 100%;
    font-size: 1em;
}
.footer-item li a{
    color: #fff;
    transition: all .5s ease;
}
.footer-item li:hover a{
    color: #ff599a;
}
.footer-input{
    margin: 10px 0;
    border-radius: 30px;
    padding: 10px;
    background-color: #fff;
    

}
.footer-input input{
    outline: none;
    border: none;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    color: #000;
    opacity: .8;
}
.footer-input input::placeholder{
    color: #000;
}
.footer-input a{
    color: #000;
    transition: all .5s ease;
}
.footer-input a:hover{
    color: #ff599a;
}


/* footer contact section */
.footer-contact{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: 1.5em;
    opacity: .9;
}
.copyright a i{
    font-size: .9em;
}
.copyright a{
    color: #000;
    transition: all .5s ease;
    margin: 0 5px;
}
.copyright a:hover{
    color: #ff599a;
}
.footer-cards{
    display: flex;
}
.footer-card{
    cursor: pointer;
    margin: 0 3px;
}

@media(max-width:1400px){
    
}
@media(max-width:1200px){
    /* Header section styles */

    /* Home slider section styles */
    #home-slider .home-slider-item{
        padding: 100px 0 ;
    }
    #home-slider .home-slider-item .home-slider-content h2{
        font-size: 3.5em;
    }
    #home-slider .home-slider-item .home-slider-content h3{
        font-size: 2.8em;
    }
    #home-slider .home-slider-item .home-slider-content p{
        font-size: 2.5em;
    }
    #home-slider .home-slider-item .home-slider-content p span{
        font-size: 1.5em;
    }
    #home-slider .home-slider-item .home-slider-content-position button{
        padding: 10px 20px;
        font-size: 1.6em;
    }

    /* feelTheTaste section styles */
    #feelTheTaste .cake-item{
        padding: 0 15px; 
    }

    /* latestCollection section styles */
    #latestCollection .cake-item-res-1{
        display: none;
    }

}
@media(max-width:992px){
    #header-info .header-container li{
        font-size:1.1em ;
    }
    #header-info .header-info-address ul li:last-child{
        font-size: 1.3em;
    }

    /* Home slider section styles */
     

    #home-slider .home-slider-item .home-slider-content h2{
        font-size: 2.8em;
    }
    #home-slider .home-slider-item .home-slider-content h3{
        font-size: 2.2em;
    }
    #home-slider .home-slider-item .home-slider-content p{
        font-size: 2em;
    }
    #home-slider .home-slider-item .home-slider-content p span{
        font-size: 1.5em;
    }
    #home-slider .home-slider-item .home-slider-content-position button{
        padding: 10px 20px;
        font-size: 1.4em;
    }

    /* feelTheTaste section styles */
    #feelTheTaste .cake-item p{
        font-size: 1.3em;
        text-align: center;
        margin: 0;
        opacity: .8;
    }

    /* Welcome section styles */
    #welcome{
        padding: 100px 0;
    }
    .welcome-content{
        width: 70%;
        margin: 0 auto;
    }
    #welcome h1{
        font-size: 4em;
    }
    #welcome p{
        font-size: 1.3em;
        padding: 0 40px;
    }
    /* Menu section styles */
    .menu-item-description p{
        font-size: 1.2em;
    }


    /* Blog section styles */
    #blog .blog-item-res-1{
        display: none;
    }
}
@media(max-width:992px) and (min-width:768px){
    /* Header section styles */
     
    #header-logo{
        display: none;
    }
    #header-menubar{
        padding: 0 15px;
    }
    #header-navbar ul li{
        font-size: 1.3em;
    }

    /* bestProducts section styles */
    #bestProducts .cake-item.cake-item-res-1{
        display: none;
    }
}
@media(max-width:768px){
    /* Header section styles */
    #header-info .header-info-contact{
        display: none;
    }
    #header-info .container .row{
        justify-content: center;
    }
    #header-menubar{
        padding: 0 15px;
    }
    #header-logo{
        position: relative;      
    }
    #header-logo img{
        width: 100px;
    }
    #header-menubar .container .row{
        justify-content: center;
    }
    #header-menubar ul{
        justify-content: space-between;
        margin: 0;
    }
    #header-menubar ul li{
        margin-right: 0;
        margin: 0 20px;
    }
    #header-navbar{
        display: none;
    }


    /* Home slider section styles */
    #home-slider .home-slider-content-position{
        padding: 20px 0;
        width:100%;
        text-align: center;
    }
    #home-slider .home-slider-content .overlay{
        display: block;
    }


    /* feelTheTaste section styles */
    #feelTheTaste .cake-item{
        flex: 100%;
        margin-bottom: 15px;
    }

    /* bestProducts section styles */
    #bestProducts .cake-item.cake-item-res-1,#bestProducts .cake-item.cake-item-res-2{
        display: none;
    }

    /* natureTaste section styles */

    #natureTaste{
        background-position: 50% 75%;
    }
    .natureTaste-body{
        flex-wrap: wrap;
    }
    .natureTaste-body .slider{
        flex: 100%;
    }
    .natureTaste-body .cake-img img{
        width: 80%;
    }
    .natureTaste-body .btn-1{
        margin-left: 5%;
    }

    /* latestCollection section styles */
    #latestCollection .cake-item-res-1,#latestCollection .cake-item-res-2{
        display: none;
    }
    #latestCollection .cake-item{
        justify-content: center;
    }

    /* Menu section styles */
    #menu .menu-items{
        flex-direction: column;
    }

    /* Blog section styles */
    #blog .blog-item-res-2{
        display: none;
    }
    
}      
@media(max-width:768px) and (min-width:576px){
    /* latestCollection section styles */
    #latestCollection .cake-item .container{
        flex: 100%;
        margin: 0;   
        background-color: #fff;  
        border: 1px solid #F7F7F7;
    }
    #latestCollection .cake-item .container .row.content{
        background-color: #F7F7F7;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #latestCollection .cake-item img{
        width:80%;
        border-radius: 0;
         
    }
}
 
@media(max-width:576px){
    /* bestProducts section styles */
    #bestProducts .cake-item.cake-item-res-1,#bestProducts .cake-item.cake-item-res-2,#bestProducts .cake-item.cake-item-res-3{
        display: none;
    }
    #menu .menu-item-content .row{
        flex-direction: column;
        align-items: flex-start;
    }
    
}
/* @media(max-width:280px) and(min-width:240px){
    .header-info-address ul li{
        flex: 50%;
        text-align: center;
    }
    .header-info-address ul li:last-child{
        flex: 100%;
    }
    #header-info .header-info-address ul{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width:240px){

    .header-info-address ul li:first-child{
        flex: 100%;
    }
    
    #header-menubar ul li{
        margin-right: 0;
    }
}
@media(max-width:130px){
    #header-logo img{
        width: 50px;
    }
} */