.header-28 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1030;
    
    .header-dropdown {
        padding-top: .8rem;
        padding-bottom: .9rem;
        & + .header-dropdown {
            margin-left: 2.8rem;
        }
    }

    .header-middle {
        border-bottom: none;
    }

    .top-menu i {
        margin-right: 5px;
    }

    .top-menu ul li {
        display: flex;
        align-items: center;
    }

    .header-top .top-menu li + li {
        margin-left: 2.7rem;
    }

    .header-top .header-right {
        margin-bottom: .1rem;
    }

    .logo {
        margin-top: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .top-menu:not(.top-link-menu) ul {
        min-width: 170px;
    }

    .menu > li > a {
        padding: 3.4rem 2.5rem 3.2rem 1rem !important;
        font-weight: 600;
    }

    .main-nav {
        margin-left: 5.6rem;
    }

    .menu > li + li {
        margin-left: 1rem;
    }

    .menu.sf-arrows .sf-with-ul::after {
        right: 10px;
    }

    .cart-txt {
        margin-left: 1.3rem;
        font-size: 1.3rem;
    }

    .cart-count,
    .wishlist-count {
        position: absolute;
        right: -3px;
        top: -1px;
        min-width: 1.6rem;
        height: 1.6rem;
    }

    .wishlist-count {
        right: -5px;
        top: -5px;
    }

    .wishlist-link {
        margin-left: 2.7rem;
        color: #777;
        i {
            font-size: 2.8rem;
        }
    }

    .cart-dropdown {
        padding-bottom: 5px;
        padding-left: 2.7rem;
        .dropdown-toggle {
            color: #777;
        }
    }

    .header-search {
        padding-bottom: 3px;

        .search-toggle {
            color: #777;
        }
    }
}

@include mq('lg') {
    .header-28 .fixed .menu >li >a {
        padding-top: 1.85rem !important;
        padding-bottom: 1.85rem !important;
    }

    .header-28 .fixed .main-nav {
        margin-left: 2.9rem;
    }

    .header-28 .sticky-header.fixed .logo {
        margin-bottom: .1rem;
    }

    .header-28 .fixed .icon {
        padding-bottom: .2rem;
    }
}