/* Header */
.header {
	background-color: #333333;
}


.header-left {
	flex: 0 0 calc(25% + 10px);
	max-width: calc(25% + 10px);
	padding-left: 10px;
	padding-right: 10px;
}

.header-right {
	padding-left: 10px;
	padding-right: 10px;
}

.header-center {
	margin: 0;
	flex: 0 0 50%;
	max-width: 50%;
}

.category-dropdown.show .dropdown-toggle {
    color: #fff;
    background-color: #333333;
}

.category-dropdown .dropdown-toggle:hover, .category-dropdown .dropdown-toggle:focus {
    color: $primary-color;
    background-color: #333333;
    outline: none !important;
}

.category-dropdown .dropdown-toggle {
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-transform: uppercase;
    min-width: 270px;
    transition: background .4s, color .1s;
}

.category-dropdown .dropdown-toggle:before {
    height: 0;
}

.category-dropdown:not(.is-on):hover .dropdown-toggle {
    background-color: transparent;
}


.header-bottom .container .header-left {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -.5rem;
		right: 2rem;
		bottom: -.4rem;
		width: .1rem;
		background-color: #444;
	}
}

.menu.sf-arrows .sf-with-ul::after {
    top: 49%;
    font-weight: 300;
    color: #ebebeb;
}

.header-bottom .menu > li + li {
    margin-left: .8rem;
}


.header-bottom .container .header-center {

	flex: 0 0 58.33%;
	max-width: 58.33%;

	margin: 0;
	padding-left: 2rem;

}


.header-bottom .container .header-right {
	
	margin-left: -3rem;
	margin-right: auto;

	i {
		padding-right: .8rem;
		color: $primary-color;
	}
	a {
	    text-transform: none;
	    letter-spacing: 0em;
	    color: #fff;
	    transition: all .3s;

	    &:hover,
	    &:focus {
	    	color: $primary-color;
	    }
	}

	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: -3rem;
		width: .1rem;
		background-color: #444;
	}
}

.header-bottom .menu > li > .sf-with-ul {
    padding-right: 3rem;
   	font-size: 1.4rem;
   	font-weight: 700;
   	font-family: 'Roboto';
   	letter-spacing: -.01rem;
}

.header-bottom .menu > li > a {
    padding: 1.6rem 1rem;
}

.header-bottom .menu > li > a:before {
    height: 0;
}

.menu ul, .menu .megamenu {
    margin-top: 0;
}

span.wishlist-count, span.cart-count {
	font-size: 1.2rem;
	font-family: 'Roboto';
	font-weight: 400;
	color: #333;
}

.category-dropdown .dropdown-menu {
    left: 0;
    width: 100%;
    margin-top: 0.65rem;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.category-dropdown  .dropdown-toggle {
	 font-size: 1.4rem;
	 font-weight: 700;
	 font-family: 'Roboto';
	 letter-spacing: -.01rem;
	 color: #fff;
}

.category-dropdown .dropdown-toggle:before {
    content: '\f131';
    font-family: 'molla';
    border: none;
    font-size: 2.3rem;
    line-height: 1;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: initial;
    color: $primary-color;
    transition: all 0s;
}

.category-dropdown .dropdown-toggle:after {
    content: '\f110';
    font-family: 'molla';
    border: none;
    font-size: 1rem;
    line-height: 1;
    margin-left: 3.8rem;
    margin-bottom: .2rem;
    font-weight: 300;
}

.category-dropdown.show .dropdown-toggle:before {
    content: '\f191';
}

.category-dropdown.show .dropdown-toggle:after {
    content: '\f110';
}


.menu.sf-arrows li:last-child .sf-with-ul::after {
    font-family: 'molla';
    content: '\f110';
    position: absolute;
    right: 0;
    top: 50%;
    display: none;
    font-size: 1rem;
    line-height: 1;
    margin-top: -.5rem;
}

.sticky-header.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1040;
    animation-name: fixedHeader;
    animation-duration: .4s;
    background-color: #333333;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.05);
}

.logo {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.header-top {
	.container,
	.container-fluid {
		position: relative;

		&:after {
			left: 15px;
			right: 15px;
		}
	}
}

.top-menu {

	a {
		font-size: 1.4rem;
		font-weight: 400;
		font-family: 'Roboto';
		letter-spacing: 0;
		color: #fff;
	}

	i {
		font-size: 1.8rem;
	}
}

.header-middle {
	border-bottom: .1rem solid #444444;
	.container {
		padding: 0;
	}
}

.cart-dropdown,
.compare-dropdown {
	display: flex;
	align-self: stretch;
	align-items: center;

	.dropdown-toggle {
		color: $body-text;
	}
}

.compare-dropdown {
	padding-left: 0;

	.dropdown-toggle {
		font-size: 2.6rem;
	}

	.compare-product-title {
		font-weight: 400;
		font-size: 1.3rem;
		line-height: 1.3;
		color: #666;
		text-align: left;
		margin-bottom: .4rem;

		a {
			color: inherit;

			&:hover,
			&:focus {
				color: $primary-color;
			}
		}
	}
}

.compare-products {   
	list-style: none;
    padding: 0;
    margin: 0;
}

.compare-product {
	position: relative;
	padding: .5rem 0;
	margin: 0;
	box-shadow: none !important;

	&:hover {
		box-shadow: none;
	}
}
.cart-dropdown {
	padding-left: 1.5rem;

	.cart-count {
		color: #000;
	}

}


.wishlist-link {
	margin-left: 2.2rem;
	color: #fff;
	
	.wishlist-count {
		color: #000;
	}
}

/* Header Search */
.search-toggle {
	color: #666;
}

.header-search {

	.search-wrapper-wide {
		width: 57.5rem;
		max-width: 100%;
	}
}

.header-search-extended {
	margin-right: 0;
	max-width: none;

	i {
		color: #333;
	}

	.form-control,
	select {
		font-size: 1.4rem;
		font-weight: 400;
		font-family: 'Roboto';
		color: #777;
	}

	.form-control {
		height: 44px;

		padding: 1.2rem 2.4rem 1.2rem 2rem;
	}
	.btn {
		flex: 0 0 8rem;
		max-width: 8rem;
		height: 4.6rem;
	}
}


.mobile-menu-toggler {
	color: $body-text;
	padding-top: .5rem;
}

.header-bottom {

	.container {
		padding: 0;
	}
}


@include mq('md', 'max') {

	.dropdown.category-dropdown {
		.dropdown-toggle {
			min-width: 230px;

			&:after {
				margin-left: 3.5rem;
			}
		}
	}
}

@include mq('sm', 'max') {
	.dropdown.category-dropdown {
		.dropdown-toggle {
			min-width: 200px;

			&:after {
				margin-left: 2.3rem;
			}
		}
	}
}