{% extends 'base.html' %}

{% block content %}
    <h3 class="my-2">Register Page</h3>

    <form action="/register" method='POST'>
        <input type="text" name="username" class="form-control my-2" placeholder="Username">
        <input type="password" name="password" class="form-control my-2" placeholder="Password">
        <input type="text" name="fullname" class="form-control my-2" placeholder="Fullname">
        <input type="email" name="email" class="form-control my-2" placeholder="Email">
        <input type="submit" class="btn btn-primary my-2" value="Register">
    </form>
{% endblock content %}