<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex">
        <nav class="navbar navbar-expand navbar-dark bg-dark col-6 col-md-2" style="height: 100vh;">

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="navbar-nav flex flex-column">
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/shop_contact">Shop Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/logos">Logos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/cards">Payment Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/social_medias">Social Medias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/sales">Sales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/employees">Employees</a>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a href="/admin/product" class="btn btn-dark nav-link">Product</a>
                                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/admin/product/size">Product Size</a>
                                      <a class="dropdown-item" href="/admin/product/availability">Product Availability</a>
                                      <a class="dropdown-item" href="/admin/product/category">Product Category</a>
                                      <a class="dropdown-item" href="/admin/product/type">Product Type</a>
                                      <a class="dropdown-item" href="/admin/product/brand">Product Brand</a>
                                      <a class="dropdown-item" href="/admin/product/image">Product Image</a>
                                    </div>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a href="/admin/post" class="btn btn-dark nav-link">Post</a>
                                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/admin/post/image">Post Image</a>
                                      <a class="dropdown-item" href="/admin/post/transport">Post Transport</a>
                                    </div>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a href="/admin/blog" class="btn btn-dark nav-link">Blog</a>
                                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/admin/blog/social">Blog Soical Media</a>
                                      <a class="dropdown-item" href="/admin/blog/comment">Blog Comment</a>
                                    </div>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <div class="btn-group">
                                    <a href="/admin/faq" class="btn btn-dark nav-link">FAQ</a>
                                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/admin/faq/image">FAQ Image</a>
                                    </div>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/country">Country</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/user">Users</a>
                            </li>
                             
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/admin/product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/size">Product Size</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/availability">Product Availability</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/category">Product Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/type">Product Type</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/brand">Product Brand</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/image">Product Image</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/admin/post">Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/post/image">Post Image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/post/transport">Post Transport</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="/admin/blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/blog/social">Blog Soical Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/blog/comment">Blog Comment</a>
                            </li> -->
                        </ul>
                         
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <div class="container col-6 col-md-10 my-4">
        <div class="row">
            <div class="col-12">
                {% block content %}
                    
                {% endblock content %}
            </div>
        </div>
    </div>
    </div>
    

     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>