{% extends 'admin/base.html' %}
{% block content %}
<h3>Add Post Image</h3>

<form action="/admin/post/image" method="POST" enctype="multipart/form-data">
    <select class="form-control my-2" name="post_id">
        {% for post in posts %}
        <option value="{{post.id}}">{{post.post_title}}</option>
        {% endfor %}
    </select>
    {{form.post_img_url(class='form-control my-2',placeholder = 'Post Image')}}
    {{form.submit(class='btn btn-primary', value='Add Post Image')}}
</form>

<h4 class="my-2">All Post Images</h4>
<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>Post Title</th>
            <th>Post Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for postImage in postImages %}
        <tr>
            <td scope="row">{{Post.query.filter_by(id = postImage.post_id).first().post_title}}</td>
            <td>{{postImage.post_img_url}}</td>
            <td>
                <a href="/admin/post/image/delete/{{postImage.id}}">Delete</a>
                <a href="/admin/post/image/update/{{postImage.id}}">Update</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock content %}