{% extends 'admin/base.html' %}
{% block content %}
<h3>Add Product Brand</h3>

<form action="/admin/product/brand" method="POST" >
      {{form.brand_name(class='form-control my-2',placeholder = 'Product Brand')}} 
      {{form.submit(class='btn btn-primary', value='Add Product Brand')}}   
</form>

<h4 class="my-2">All Product Brand</h4>
<table class="table ">
    <thead class="thead-dark">
        <tr>
            <th>Product Brand</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for brand in brands %}
        <tr>
            <td scope="row">{{brand.brand_name}}</td>
            <td>
                <a href="/admin/product/brand/delete/{{brand.id}}">Delete</a>
                <a href="/admin/product/brand/update/{{brand.id}}">Update</a>
            </td>
        </tr>    
        {% endfor %}
           
    </tbody>
</table>
{% endblock content %}