{% extends 'admin/base.html' %}
{% block content %}
    <h3>Update Contact Information</h3>

    <form action="/admin/shop_contact/update/{{shopContact.id}}" method="POST">
        <input type="text" class="form-control my-2" placeholder="Contact Icon" name="contact_icon" value="{{shopContact.contact_icon}}">
        <input type="text" class="form-control my-2" placeholder="Contact Detail" name="contact_detail" value="{{shopContact.contact_detail}}">
        <input type="text" class="form-control my-2" placeholder="Contact Link" name="contact_link" value="{{shopContact.contact_link}}">
        <input type="submit" class="btn btn-primary" value="Update Contact Info">
    </form>

    
{% endblock content %}