{% extends 'main/base.html' %}
{% block content %}
    <section id="part">
        <h3 class="part-header">Collection</h3>
        <span class="part-footer">Home / Collection</span>
    </section>

    <section id="collections">
        <div class="container">
            <div class="cake-items">
                <div class="row">
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-1.webp" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                    BLACK FOREST
                                </div>
                                <div class="cake-item-number">
                                    7 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-2.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     butter scotch
                                </div>
                                <div class="cake-item-number">
                                    5 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-3.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     choco chips
                                </div>
                                <div class="cake-item-number">
                                    4 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-4.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     chocolate
                                </div>
                                <div class="cake-item-number">
                                    6 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-5.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     Ice cake
                                </div>
                                <div class="cake-item-number">
                                    12 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-6.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     Strawberry
                                </div>
                                <div class="cake-item-number">
                                    6 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-7.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     Vanilla
                                </div>
                                <div class="cake-item-number">
                                    9 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cake-item-col">
                        <div class="cake-item">
                            <div class="cake-item-img">
                                <img src="static/main/img/collection-img-8.jpg" alt="">
                            </div>
                            <div class="cake-item-content">
                                <div class="cake-item-title">
                                     White forest
                                </div>
                                <div class="cake-item-number">
                                    8 Items
                                </div>
                                <div class="cake-item-btn">
                                    <button>Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}
     
