{% extends 'main/base.html' %}

{% block indexActive %}
    navbar-active
{% endblock %}

{% block content %}


<section id="home-slider">
    <!-- <div class="home-slider-buttons">
        <button><i class="far fa-chevron-left"></i></button>
        <button><i class="far fa-chevron-right"></i></button>
    </div> -->
    <div class="home-slider-item">
        <div class="home-slider-buttons">
            <button><i class="far fa-chevron-left"></i></button>
            <button><i class="far fa-chevron-right"></i></button>
        </div>
        <div class="home-slider-content">
            <div class="overlay">

            </div>
            <div class="home-slider-content-position">
                <h2>Fresh Cakes</h2>
                <h3>Exclusive Offers</h3>
                <p><span>50</span>% off</p>
                <a href="collection.html">Shop Now</a>
            </div>
        </div>
    </div>
</section>

<section id="feelTheTaste">
    <div class="container">
        <div class="feelTheTaste-item">
            <div class="item-header">
                <div class="item-header-logo">
                    <img src="static/main/img/feelthetaste-logo.png" alt="">
                </div>
                <div class="item-header-title">
                    Cakes & Bakes
                </div>
                <div class="item-header-content">
                    Feel the Taste
                </div>
            </div>

            <div class="cake-items">
                <div class="cake-item">
                    <img src="static/main/img/feelthetaste-cake-item-1.webp" alt="">
                    <h3>Dry Fruit Cake</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore</p>
                    <div class="cake-item-btn"><button>Shop Now</button></div>
                </div>
                <div class="cake-item">
                    <img src="static/main/img/feelthetaste-cake-item-2.jpg" alt="">
                    <h3>Creamy Cup Cake</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore</p>
                    <div class="cake-item-btn"><button>Shop Now</button></div>
                </div>
                <div class="cake-item">
                    <img src="static/main/img/feelthetaste-cake-item-3.jpg" alt="">
                    <h3>Fruit Cake</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore</p>
                    <div class="cake-item-btn"><button>Shop Now</button></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bestProducts">
    <div class="container">
        <div class="bestProducts-item">
            <div class="item-header">
                <div class="item-header-logo">
                    <img src="static/main/img/feelthetaste-logo.png" alt="">
                </div>
                <div class="item-header-title">
                    For Any Party
                </div>
                <div class="item-header-content">
                    Best selling Products
                </div>
            </div>
            <div class="cake-items">
                <div class="cake-item">
                    <div class="container">
                        <img src="static/main/img/bestProducts-cake-item-1.jpg" alt="">
                        <span><a href="">Celebration Cake</a></span>
                        <p>$469.00</p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>

                </div>
                <div class="cake-item cake-item-res-3">
                    <div class="container">
                        <img src="static/main/img/bestProducts-cake-item-2.jpg" alt="">
                        <span><a href="">Party Celebration Cake</a></span>
                        <p>$300.00 <span>$375.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>
                </div>
                <div class="cake-item cake-item-res-2">
                    <div class="container">
                        <img src="static/main/img/bestProducts-cake-item-3.jpg" alt="">
                        <span><a href="">Heart To Heart Cake</a></span>
                        <p>$300.00 <span>$375.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>
                </div>
                <div class="cake-item cake-item-res-1">
                    <div class="container">
                        <img src="static/main/img/bestProducts-cake-item-4.jpg" alt="">
                        <span><a href="">Birthday Giant Cup Cake</a></span>
                        <p>$489.00 <span>$500.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <i class="fas fa-caret-left"></i>
                <span></span>
                <i class="fas fa-caret-right"></i>
            </div>
        </div>
    </div>
</section>

<section id="natureTaste">
    <div class="container-full">
        <div class="natureTaste-item">
            <div class="item-header ">
                <div class="item-header-logo">
                    <img src="static/main/img/natureTaste-logo.png" alt="">
                </div>
                <div class="item-header-title">
                    For Any Celebration
                </div>
                <div class="item-header-content">
                    Nature Taste
                </div>
            </div>
            <div class="natureTaste-body row">
                <div class="col-6">

                </div>
                <div class="slider row">
                    <div class="slider-buttons">
                        <div class="btn btn-1">
                            <button><i class="fal fa-arrow-left"></i></button>
                        </div>
                        <div class="btn btn-2" style="margin-right: 1%;">
                            <button><i class="fal fa-arrow-right"></i></button>
                        </div>
                    </div>

                    <div class="slider-contents">
                        <div class="container-full row">
                            <div class="cake-img col-6">
                                <img src="static/main/img/natureTaste-cake-img.jpg" alt="">
                                <!-- <img src="static/main/img/bestProducts-cake-item-3.jpg" alt=""> -->
                            </div>
                            <div class="cake-content col-6">
                                <h1>Gurmet Cake</h1>
                                <p>$395.00</p>
                                <div class="icons">
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="container-full row">
                            <div class="cake-img col-6">
                                <img src="static/main/img/natureTaste-cake-img-2.jpg" alt="">
                            </div>
                            <div class="cake-content col-6">
                                <h1>Linda Cake</h1>
                                <p>$598.00</p>
                                <div class="icons">
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="container-full row">
                            <div class="cake-img col-6">
                                <img src="static/main/img/natureTaste-cake-img-3.jpg" alt="">
                            </div>
                            <div class="cake-content col-6">
                                <h1>Gurmet Cake</h1>
                                <p>$395.00</p>
                                <div class="icons">
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="container-full row">
                            <div class="cake-img col-6">
                                <img src="static/main/img/natureTaste-cake-img-4.jpg" alt="">
                            </div>
                            <div class="cake-content col-6">
                                <h1>Gurmet Cake</h1>
                                <p>$395.00</p>
                                <div class="icons">
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="latestCollection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-header ">
                    <div class="item-header-logo">
                        <img src="static/main/img/latestCollection-logo.png" alt="">
                    </div>
                    <div class="item-header-title">
                        Prepare with Love & Care
                    </div>
                    <div class="item-header-content">
                        Latest Collection
                    </div>
                </div>

                <div class="cake-types">
                    <ul>
                        <li class="cake-type">
                            <div class="cake-type-img">
                                <img src="static/main/img/vanilla-cake-img.webp" alt="">
                            </div>
                            <p class="cake-type-name">
                                Vanilla
                            </p>
                        </li>
                        <li class="cake-type">
                            <div class="cake-type-img">
                                <img src="static/main/img/strawberry-cake-img.webp" alt="">
                            </div>
                            <p class="cake-type-name">
                                Strawberry
                            </p>
                        </li>
                        <li class="cake-type">
                            <div class="cake-type-img">
                                <img src="static/main/img/Chocolate-cake-img.webp" alt="">
                            </div>
                            <p class="cake-type-name">
                                Chocolate
                            </p>
                        </li>
                        <li class="cake-type">
                            <div class="cake-type-img">
                                <img src="static/main/img/ButterScotch-cake-img.webp" alt="">
                            </div>
                            <p class="cake-type-name">
                                Butter Scotch
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cake-items">
            <div class="btn btn-1">
                <button><i class="fal fa-arrow-left"></i></button>
            </div>
            <div class="btn btn-2">
                <button><i class="fal fa-arrow-right"></i></button>
            </div>
            <div class="cake-item">
                <div class="container">
                    <div class="row">
                        <img src="static/main/img/bestProducts-cake-item-1.jpg" alt="">
                    </div>
                    <div class="row content">
                        <span><a href="">Celebration Cake</a></span>
                        <p>$469.00</p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>
                </div>

            </div>
            <div class="cake-item cake-item-res-2">
                <div class="container">
                    <div class="row">
                        <img src="static/main/img/bestProducts-cake-item-2.jpg" alt="">
                    </div>
                    <div class="row content">
                        <span><a href="">Party Celebration Cake</a></span>
                        <p>$300.00 <span>$375.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>


                </div>
            </div>
            <div class="cake-item cake-item-res-2">
                <div class="container">
                    <div class="row">
                        <img src="static/main/img/bestProducts-cake-item-3.jpg" alt="">
                    </div>
                    <div class="row content">
                        <span><a href="">Heart To Heart Cake</a></span>
                        <p>$300.00 <span>$375.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>


                </div>
            </div>
            <div class="cake-item cake-item-res-1">
                <div class="container">
                    <div class="row">
                        <img src="static/main/img/bestProducts-cake-item-4.jpg" alt="">
                    </div>
                    <div class="row content">
                        <span><a href="">Birthday Giant Cup Cake</a></span>
                        <p>$489.00 <span>$500.00</span></p>
                        <div class="icons">
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="cake-item-btn"><button>Add To Cart</button></div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>

<section id="welcome">
    <div class="welcome-content">
        <h3>Sweet for Celebration</h3>
        <h1>Welcome to Cakes & Bakes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Nullam id arcu tortor. Sed eget sit ame
            egestas, cursus felis quis, vestibulum.</p>
        <div class="cake-item-btn"><button>Shop Now</button></div>
    </div>
</section>

<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-header ">
                    <div class="item-header-logo">
                        <img src="static/main/img/latestCollection-logo.png" alt="">
                    </div>
                    <div class="item-header-title">
                        Amazing Taste
                    </div>
                    <div class="item-header-content">
                        Menu Items
                    </div>
                </div>
            </div>
        </div>
        <div class="row menu-items">
            <div class="menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-1.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Creamy Chocolate Cake</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $19.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class=" menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-2.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Jelly Soft Cake</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $14.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row menu-items">
            <div class=" menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-3.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Creamy White Forest</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $12.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class=" menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-4.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Grand Celebration Cake</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $18.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row menu-items">
            <div class="menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-5.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Fruit Cherry Cake</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $18.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class=" menu-item-col">
                <div class="container-full">
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-2">
                                <img src="static/main/img/menu-img-6.png" alt="">
                            </div>
                            <div class="col-10">
                                <div class="container-full">
                                    <div class="menu-item-content">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="menu-item-description">
                                                    <h2>Tasty Black Forest</h2>
                                                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                                        ante.
                                                        Maecenas nec</p>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="menu-item-price">
                                                    $19.00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-header ">
                    <div class="item-header-logo">
                        <img src="static/main/img/natureTaste-logo.png" alt="">
                    </div>
                    <div class="item-header-title">
                        New Arrival
                    </div>
                    <div class="item-header-content">
                        From the Blog
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-items">
            <div class="btn btn-1">
                <button><i class="fal fa-arrow-left"></i></button>
            </div>
            <div class="btn btn-2">
                <button><i class="fal fa-arrow-right"></i></button>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="blog-item" style="width: 33.33%;">
                    <div class="blog-item-image">
                        <a href="/blog/{{blog.id}}"><img src="static/main/img/{{blog.b_img}}"
                                alt=""></a>
                    </div>
                    <div class="blog-item-content">
                        <h3>
                            <a href="">{{b_title}}</a>
                        </h3>
                        <div class="calendar">
                            <span><i class="fas fa-user"></i> Fikrat M</span>
                            <span><i class="fal fa-calendar"></i> {{blog.b_date.strftime("%b")}} {{blog.b_date.day}}, {{blog.b_date.year}}</span>
                        </div>
                        <p>{{blog.b_content[0:100]}}...</p>
                        <div class="footer">
                            <span>
                                <a href="/blog/{{blog.id}}">Read more</a>
                            </span>
                            <span>
                                (1) Comments
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                 
                <!-- <div class="blog-item">
                    <div class="blog-item-image">
                        <a href="Home Sub Pages/chocolate-cake.html"><img src="static/main/img/blog-img-1.jpg"
                                alt=""></a>
                    </div>
                    <div class="blog-item-content">
                        <h3>
                            <a href="">Sweet & attractive chocolate cake</a>
                        </h3>
                        <div class="calendar">
                            <span><i class="fas fa-user"></i> Ram M</span>
                            <span><i class="fal fa-calendar"></i> Aug 17, 2018</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor. Aenea...</p>
                        <div class="footer">
                            <span>
                                <a href="">Read more</a>
                            </span>
                            <span>
                                (1) Comments
                            </span>
                        </div>
                    </div>
                </div>
                <div class="blog-item blog-item-res-2">
                    <div class="blog-item-image">
                        <a href="Home Sub Pages/fruit-cake.html"><img src="static/main/img/blog-img-2.jpg" alt=""></a>

                    </div>
                    <div class="blog-item-content">
                        <h3>
                            <a href="">Creamy fruit cake</a>
                        </h3>
                        <div class="calendar">
                            <span><i class="fas fa-user"></i> Ram M</span>
                            <span><i class="fal fa-calendar"></i> Aug 17, 2018</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor. Aenea...</p>
                        <div class="footer">
                            <span>
                                <a href="">Read more</a>
                            </span>
                            <span>
                                (1) Comments
                            </span>
                        </div>
                    </div>
                </div>
                <div class="blog-item blog-item-res-1">
                    <div class="blog-item-image">
                        <a href="Home Sub Pages/cup-cake.html"><img src="static/main/img/blog-img-3.jpg" alt=""></a>
                    </div>
                    <div class="blog-item-content">
                        <h3>
                            <a href="">Multi taste cup cake</a>
                        </h3>
                        <div class="calendar">
                            <span><i class="fas fa-user"></i> Ram M</span>
                            <span><i class="fal fa-calendar"></i> Aug 17, 2018</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor. Aenea...</p>
                        <div class="footer">
                            <span>
                                <a href="">Read more</a>
                            </span>
                            <span>
                                (0) Comments
                            </span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</section>

<section id="asked">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="item-header ">
                    <div class="item-header-logo">
                        <img src="static/main/img/latestCollection-logo.png" alt="">
                    </div>
                    <div class="item-header-title">
                        Best solution
                    </div>
                    <div class="item-header-content">
                        Frequently Asked
                    </div>
                </div>
            </div>
        </div>
        <div class="asked-items">
            <div class="row">
                <div class="asked-item">
                    <div class="asked-item-image">
                        <img src="static/main/img/asked-img-1.jpg" alt="">
                    </div>
                    <div class="asked-item-buttons">
                        <button></button>
                        <button></button>
                    </div>
                </div>
                <div class="asked-item">
                    <div class="asked-contents">
                        <div class="asked-content">
                            <div class="asked-question">
                                <h5><a href="">What is a Payment Gateway?</a></h5>
                                <div class="icon"><i class="fal fa-minus"></i></div>
                            </div>
                            <div class="question-answer">
                                <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
                                    sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
                                    sodales Includes Business as well as Professionals bibendum sodales, augue velit
                                    cursus</p>
                            </div>
                        </div>
                        <div class="asked-content">
                            <div class="asked-question">
                                <h5><a href="">What is a Payment Gateway?</a></h5>
                                <div class="icon"><i class="fal fa-plus"></i></div>
                            </div>
                            <div class="question-answer">
                                <p></p>
                            </div>
                        </div>
                        <div class="asked-content">
                            <div class="asked-question">
                                <h5><a href="">What is a Payment Gateway?</a></h5>
                                <div class="icon"><i class="fal fa-plus"></i></div>
                            </div>
                            <div class="question-answer">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="features-items">
            <div class="row">
                {% for feature in features  %}
                <div class="features-item-col">
                    <div class="features-item">
                        <div class="features-item-img">
                            <img src="static/uploads/{{feature.features_image}}" alt="">
                        </div>
                        <h5>{{feature.features_title}}</h5>
                        <span>{{feature.features_content}}</span>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="features-item-col">
                    <div class="features-item">
                        <div class="features-item-img">
                            <img src="static/main/img/features-item-img-1.png" alt="">
                        </div>
                        <h5>Money Back Guarantee</h5>
                        <span>Send Within 30 days</span>
                    </div>
                </div>

                <div class="features-item-col">
                    <div class="features-item">
                        <div class="features-item-img">
                            <img src="static/main/img/features-item-img-2.png" alt="">
                        </div>
                        <h5>24/7 Customer Service</h5>
                        <span>Call us 24/7 at 000 -123 - 456</span>
                    </div>
                </div>

                <div class="features-item-col">
                    <div class="features-item">
                        <div class="features-item-img">
                            <img src="static/main/img/features-item-img-3.png" alt="">
                        </div>
                        <h5>Free Shipping World Wide</h5>
                        <span>On Order Over $23 - 7 Days A Week</span>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="logos">
            <div class="btn btn-1">
                <button><i class="fal fa-arrow-left"></i></button>
            </div>
            <div class="btn btn-2">
                <button><i class="fal fa-arrow-right"></i></button>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="logo-items">

                        {% for logo in logos %}
                        <li class="logo-item">
                            <img src="static/uploads/{{logo.l_image}}" alt="">
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block scripts %}
<script src="static/main/js/script.js"></script>
{% endblock scripts %}