{% extends 'main/base2.html' %}
{% block content %}
<section id="part">
    <h3 class="part-header">About us</h3>
    <span class="part-footer">Home / About us</span>
</section>

<div id="post" class="section-padding">
    <div class="container">
        <div class="row post-item">
            <div class="col-12 col-lg-6">
                <div class="post-image">
                    <img src="../static/main/img/pages-post-img.jpg" alt="">
                </div>

            </div>
            <div class="col-12 col-lg-6">
                <div class="post-content">
                    <div class="post-description">
                        <div class="post-content-header">
                            <span>Welcome to Cakes & Bakes</span>
                            <hr>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate id est laborum.</p>

                        <p>Ius ferri velit sanctus cu, sed at soleat accusata. Dictas prompta et Ut placerat
                            legendos
                            interpre.Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante Etiam sit
                            amet
                            orci eget Duis dan molestie, sem in sollicitudin sodales, mi justo sagittis est, id
                            consequat ipsum ligula a ante. Pellentesque sapien dui, miverra et commodo id ductus id
                            est.
                            Cras eu tempor eros donec ut porttitor lacus, nec ullamcorper massa maecenas eu nulla
                            nisl.
                            Destibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.</p>
                    </div>
                    <div class="row post-cake-items">
                        <div class="btn btn-1">
                            <button><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="btn btn-2">
                            <button><i class="fas fa-chevron-right"></i></i></button>
                        </div>
                        <div class="col post-cake-item  ">
                            <img src="../static/main/img/pages-post-cake-img-1.jpg" alt="">
                        </div>
                        <div class="col post-cake-item d-md-block d-none">
                            <img src="../static/main/img/pages-post-cake-img-2.jpg" alt="">
                        </div>
                        <div class="col post-cake-item d-lg-block d-none">
                            <img src="../static/main/img/pages-post-cake-img-3.jpg" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<section id="cakes-bakes" class="section-padding">
    <div class="container">
        <div class="page-item-header">
            <h1>What we offer at Cakes & Bakes</h1>
            <span>The Sound of Sweet Taste</span>
        </div>
        <div class="row page-cake-items">
            <div class="col-12 col-lg-4 col-md-6">
                <div class="page-cake-item">
                    <div class="page-cake-item-header">
                        Blueberry
                    </div>
                    <div class="page-cake-item-img">
                        <img src="../static/main/img/page-cake-item-img-1.jpg" alt="">
                    </div>
                    <div class="page-cake-item-description">
                        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                        elementum semper nisi. Aenean vulputate
                    </div>
                    <div class="cake-item-btn"><button>View more</button></div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <div class="page-cake-item">
                    <div class="page-cake-item">
                        <div class="page-cake-item-header">
                            Dry Fruits Cake
                        </div>
                        <div class="page-cake-item-img">
                            <img src="../static/main/img/page-cake-item-im2.jpg" alt="">
                        </div>
                        <div class="page-cake-item-description">
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                            elementum semper nisi. Aenean vulputate
                        </div>
                        <div class="cake-item-btn"><button>View more</button></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6">
                <div class="page-cake-item">
                    <div class="page-cake-item">
                        <div class="page-cake-item-header">
                            Chocolate Creamy
                        </div>
                        <div class="page-cake-item-img">
                            <img src="../static/main/img/page-cake-item-img-3.jpg" alt="">
                        </div>
                        <div class="page-cake-item-description">
                            Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                            elementum semper nisi. Aenean vulputate
                        </div>
                        <div class="cake-item-btn"><button>View more</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="cakes-bakes-offers" class="section-padding">
    <div class="page-item-header">
        <h1>Cakes & Bakes Offers</h1>
        <span>Our Latest Offers</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate id est laborum.</p>

    <div class="cake-item-btn"><button>Shop Now</button></div>
</section>

<section id="sweetMovement" class="section-padding">
    <div class="container">
        <div class="row post-item">
            <div class="col-12 col-md-6">
                <div class="post-image">
                    <img src="../static/main/img/sweetMovement-img.jpg" alt="">
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="post-content">
                    <div class="post-content-header">
                        <span>
                            Candies for Sweet Movement</span>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum pretium
                        faucibus. Integer non pulvinar metus, ut feugiat tellus. Mauris vestibulum enim at dui
                        accumsan, vitae tincidunt lorem placerat. Nunc vehicula rhoncus ultricies. Maecenas
                        vehicula vel enim sit amet mollis. Nulla sed.
                    </p>

                    <div class="row post-content-choices">
                        <div class="col-6 post-content-choice">
                            <span><i class="fas fa-car-alt"></i></span>
                            <span>Candy</span>

                        </div>
                        <div class="col-6 post-content-choice">
                            <span><i class="fas fa-plane"></i></span>
                            <span>Celebration</span>
                        </div>
                        <div class="col-6 post-content-choice">
                            <span><i class="fas fa-ship"></i></span>
                            <span>Cupcake</span>
                        </div>
                        <div class="col-6 post-content-choice">
                            <span><i class="fas fa-train"></i></span>
                            <span>Occasion</span>
                        </div>
                    </div>
                    <div class="cake-item-btn"><button>Read More</button></div>

                </div>
            </div>
        </div>
</section>

<section id="salesNumber">
    <div class="container">
        <div class="row sales-items">
            {% for sale in sales %}
            <div class="col-lg-3 col-sm-6 sales-item">
                <div class="sales-item-icon">
                    <i class="{{sale.sales_icon}}"></i>
                </div>
                <div class="sales-item-num">
                    {{sale.sales_number}}+
                </div>
                <div class="sales-item-title">
                    {{sale.sales_name}}
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-lg-3 col-sm-6 sales-item">
                <div class="sales-item-icon">
                    <i class="fal fa-gem"></i>
                </div>
                <div class="sales-item-num">
                    960+
                </div>
                <div class="sales-item-title">
                    Red Velvet
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sales-item">
                <div class="sales-item-icon">
                    <i class="fad fa-mug-hot"></i>
                </div>
                <div class="sales-item-num">
                    750+
                </div>
                <div class="sales-item-title">
                    Designer Cake
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sales-item">
                <div class="sales-item-icon">
                    <i class="fas fa-adjust"></i>
                </div>
                <div class="sales-item-num">
                    520+
                </div>
                <div class="sales-item-title">
                    Fruit Cakes
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sales-item">
                <div class="sales-item-icon">
                    <i class="fas fa-building"></i>
                </div>
                <div class="sales-item-num">
                    860+
                </div>
                <div class="sales-item-title">
                    Celebration
                </div>
            </div> -->
        </div>
    </div>
</section>

<section id="staff" class="section-padding">
    <div class="container">
        <div class="page-item-header">
            <h1>Our Staff</h1>
            <span>Meet our toddler care supporter and gorgeous team members</span>
        </div>
        <div class="row staff-employees">
            {% for employee in employees %}
            <div class="col-lg-4 col-md-6 staff-employee">
                <div class="staff-employee-image">
                    <div class="staff-employee-image-second">
                        <img src="../static/uploads/{{employee.e_image}}" alt="">
                    </div>
                    <div class="staff-employee-social">
                        <div class="staff-employee-social-icon twitter">
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="staff-employee-social-icon facebook">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="staff-employee-social-icon google-plus">
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <img class="img-back" src="../static/uploads/{{employee.e_image}}" alt="">
                </div>
                <div class="staff-employee-name">
                    {{employee.e_fullname}}
                </div>
                <div class="staff-employee-profession">
                    {{employee.e_profession}}
                </div>
            </div>
            {% endfor %}

            <!-- <div class="col-lg-4 col-md-6 staff-employee">
                <div class="staff-employee-image">
                    <div class="staff-employee-image-second">
                        <img src="../static/main/img/employee-1.jpg" alt="">
                    </div>
                    <div class="staff-employee-social">
                        <div class="staff-employee-social-icon twitter">
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="staff-employee-social-icon facebook">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="staff-employee-social-icon google-plus">
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <img class="img-back" src="../static/main/img/employee-1.jpg" alt="">
                </div>
                <div class="staff-employee-name">
                    Anabel Harpole
                </div>
                <div class="staff-employee-profession">
                    Designer
                </div>
            </div>
            <div class="col-lg-4 col-md-6 staff-employee">
                <div class="staff-employee-image">
                    <div class="staff-employee-image-second">
                        <img src="../static/main/img/employee-2.jpg" alt="">
                    </div>
                    <div class="staff-employee-social">
                        <div class="staff-employee-social-icon twitter">
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="staff-employee-social-icon facebook">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="staff-employee-social-icon google-plus">
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <img class="img-back" src="../static/main/img/employee-2.jpg" alt="">
                </div>
                <div class="staff-employee-name">
                    Luise Garay
                </div>
                <div class="staff-employee-profession">
                    Chef
                </div>
            </div>
            <div class="col-lg-4 col-md-6 staff-employee">
                <div class="staff-employee-image">
                    <div class="staff-employee-image-second">
                        <img src="../static/main/img/employee-3.jpg" alt="">
                    </div>
                    <div class="staff-employee-social">
                        <div class="staff-employee-social-icon twitter">
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="staff-employee-social-icon facebook">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="staff-employee-social-icon google-plus">
                            <a href=""><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                    <img class="img-back" src="../static/main/img/employee-3.jpg" alt="">
                </div>
                <div class="staff-employee-name">
                    Serafina Portis
                </div>
                <div class="staff-employee-profession">
                    Store Manager
                </div>
            </div> -->
        </div>
    </div>
</section>
{% endblock content %}