{% extends 'main/base2.html' %}

{% block content %}
<section id="part">
    <h3 class="part-header">Account</h3>
    <span class="part-footer">Home / Account</span>
</section>

<section id="log-in">
    <div class="container-fluid">
        <div class="log-in-form">
            <form action="/account/register" method='POST'>
                <input class="log-in-inp" type="text" placeholder="First Name" name="firstName">
                <input class="log-in-inp" type="text" placeholder="Last Name" name = "lastName">
                <input class="log-in-inp" type="email" placeholder="Email" name="email">
                <input class="log-in-inp" type="password"  placeholder="Password" name='password'>
                <div class="cake-item-btn"><button type="submit">Create</button></div>
                <div class="log-in-return">
                    <a href="{{url_for('main_index')}}">Return to Store</a>
                </div>
            </form>
        </div>

    </div>
</section>
{% endblock content %}