body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Header bolmesi */

/* Header info bolmesi */

.header-info{
    background-color: #333333;
    padding: 10px 0px;
    color: #fff;
}
.header-container{
    width: 1350px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.header-contact-info i{
    color:#00bcd4;
    margin-right:10px;
}
.header-contact-info span{
    margin-right:10px;
}

.header-social-icons i{
    margin:0px 5px;
}

/* Header navbar bolmesi */
.header-navbar{
    color: #333;
}