/* select by tag name */
/* html daxilinde butun eyni adli taglere eyni xususiyyet verir */
/* section{
    background-color: green;
} */

/* div{
    background: lightgray;
    padding: 20px;
    border: 1px solid gray;
} */

/* select by class or id */
.news-item{
    background: lightgray;
    padding: 20px;
    border: 1px solid gray;
}


.works-item{
    background: oldlace;
    padding: 10px;
    border:1px solid red;
}


.bg-blue{
    background: lightblue;
}

/* select by nesting */

.news-item h1{
    color: red;
}

.works-item h1{
    color: green;
}